body{
  background-color: #fafafa;
  min-height: 0%;
  height: 95%;
}
.form{
  height: 100%;
  margin: 50px 0;
  letter-spacing: .05rem;
  text-align: center;
}
.form a{
  text-decoration: none;
  transition: 0.2s;
}
.form .input-short{
  width: 50%;
}
.form a:visited{
  color: blue;
}
.form a:hover{
  color: red;
}
.form h2{
  font-size: 32px;
  letter-spacing: .1rem;
}
.form .invalid-feedback{
  color: red;
}
