body{
  background-color: #fafafa;
  min-height: 0%;
  height: 100%;
}
.form{
  height: 100%;
  margin: 50px 0;
  letter-spacing: .05rem;
  text-align: center;
}
.form a{
  text-decoration: none;
}
.form .input-short{
  width: 50%;
}
@media (max-width: 1200px){
  .form .input-short{
    width: 100%;
  }
}
.form h2{
  font-size: 32px;
  letter-spacing: .1rem;
}
.form .invalid-feedback{
  color: red;
}
