html{
  height: 100%;
}
body{
  background-color: #f9fefe;
  min-height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#bodynolimit{
  min-height: 1%;
}
/* side nav */
.sidenav{
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(4,23,2,0.9);
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidenav a{
  padding: 10px 0;
  text-decoration: none;
  text-align: center;
  font-size: 3vh;
  color: white;
  display: block;
  transition: 0.5s;
}
.sidenav a:hover{
  color: gray;
}
.closebtn{
  position: absolute;
  top: 1vh;
  color: white;
  right: 25px;
  margin-left: 50px;
  transition: 0.5s;
  z-index: 9;
}
.closebtn:hover{
  color: gray;
}
/* side nav links */
#links-main{
  width: 50%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#links-secondary{
  width: 0;
  max-height: 90%;
  position: relative;
  transition: 0.5s;
  margin-top: auto;
  margin-bottom: auto;
  overflow-y: auto;
}
#links-main a {
  padding: 30px 0;
}
button{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  font-size: 40px;
}
.openbtn{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  font-size: 40px;
  margin-left: 10px;
  transition: 0.5s ease-out;
}
.openbtn:hover{
  color: white;
}
/* header */
header{
  width: 100%;
  background-image: linear-gradient(90deg, rgb(66, 133, 244), rgb(52, 168, 83));
  color: white;
  padding: 5px 0px;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  z-index: 1;
}
nav{
  margin: 0 auto;
  width: 60%;
  float: left;
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  align-content: center;
  color: white;
}
.navbtn{
  font-size: min(4vw,32px);
  font-family: Georgia,serif;
  color: white;
}
header #jezyki{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 2%;
  margin-right: 20px;
  margin-top: 5px;
}
header #jezyki img{
  width: min(10vw, 60px);
  height: auto;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.2);
}
/* content */
main{
  background-color: inherit;
  color: black;
  padding: 0px 10px;
  margin-top: 100px;
}
main h1{
  text-align: center;
  font-size: 46px;
}
.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  box-shadow: -2px -2px 4px #e0e0e0, 2px 2px 4px #e0e0e0;
  background-color: #fafafa;
  margin-top: 20px;
  margin-bottom: 50px;
}
.content > .chart-div{
  width: 50%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content > .map-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1200px){
  .content > .chart-div{
    width: 100%;
  }
}
.content-bottom{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content-bottom > div{
  width: 33%;
}
@media (max-width: 2000px){
  .content-bottom > div{
    width: 50%;
  }
}
@media (max-width: 1200px){
  .content-bottom > div{
    width: 100%;
  }
}
.hidden-div{
  display: none;
}
.text-div{
  margin: 40px 20px 80px 20px;
}
.text-div-content{
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.text-div-content p{
  text-align: justify;
  line-height: 1.5;
  font-size: 16px;
}
@media (max-width: 900px){
  .text-div-content p{
    font-size: 15px;
  }
}
.map-div{
  height: 800px;
}
@media (max-width: 900px){
  .map-div{
    height: 500px;
  }
}
.axis_left{
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}
.axis_bottom{
  font-size: min(2vw, 14px);
  font-family: Helvetica, sans-serif;
}
.bar{
  transition: fill 0.5s;
}
.bar:hover{
  fill: #ff8080;
}
.tooltip{
	opacity: 0;
}
.tooltip-text {
  z-index: 1;
  font-size: 16px;
  color: black;
  text-anchor: middle;
}
.grid line {
	stroke: black;
	stroke-opacity: 0.15;
	shape-rendering: crispEdges;
}
.grid path {
	stroke-width: 0;
}
.chart-input{
  margin-top: 10px;
  font-size: min(3vw, 14px);
}
.chart-input img{
  width: 50px;
}
.chart-button{
  font-size: min(3vw, 14px);
  margin-left: 10px;
  background-color: #fefefe;
  border-width: 1px;
  border-style: solid;
  border-color: #f0f0f0 #e0e0e0 #a0a0a0 #e0e0e0;
  border-radius: 8px;
  padding: 6px 14px;
  user-select: none;
  box-shadow: 3px 2px 4px #a0a0a0;
  transition: background-color 0.5s;
}
.chart-button:hover{
  background-color: #f0f0f0;
}
.noUi-target{
	font-size: 12px;
	z-index: 0;
}
.noUi-horizontal .handle-invisible{
  display: none;
}
.button-div{
  text-align: center;
  margin-bottom: 10px;
}
.input-div{
  display: flex;
  justify-content: center;
  gap: 2%;
}
.input-div > .noUi-target{
  width: 50%;
}
.nolimit-div{
  height: 100%;
  width: 80%;
}
@media (max-width: 900px){
  .nolimit-div{
    width: 100%;
  }
}
.tabledata-div{
  height: 800px;
  width: 100%;
  justify-content: center;
  gap: 5%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.tabledata-div table{
	border-collapse: collapse;
}
.tabledata-div tr:nth-child(even){
  background-color: #f0f0f0;
  border-bottom: 1px solid #a0a0a0;
  border-top: 1px solid #a0a0a0;
}
.tabledata-div td{
  padding: 5px 8px;
  font-size: min(2vw, 18px);
}
.table-div{
	max-height: 100%;
	overflow-y: auto;
  display: flex;
  align-content: center;
}
.table-div table{
	border: 1px solid black;
	border-collapse: collapse;
  margin: auto;
}
.table-div td{
	border: 1px solid black;
	padding: 5px 8px;
	font-size: min(2vw, 18px);
}
.country{
	transition: 0.5s ease-out;
}
.chart-title{
  font-size: min(5vw, 32px);
}
.map-div > .svg-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.map-button{
  font-size: min(5vw, 32px);
	color: black;
	transition: 0.5s;
}
.map-button:hover{
	color: #c5c5c5;
	cursor: pointer;
}
.map-button img{
  width: 50px;
  object-position: center bottom;
}
.map-country-table{
  overflow: auto;
  width: 100%;
  max-height: 600px;
	display: flex;
  border: none;
	justify-content: center;
  font-size: min(4vw, 22px);
}
@media (max-width: 900px){
  .map-country-table{
    max-height: 350px;
  }
}
.map-country-table td{
  padding: 2px 8px;
}
.earnings-table{
  overflow: auto;
  max-height: 480px;
	display: flex;
  border: none;
	justify-content: center;
  font-size: min(4vw, 22px);
}
.earnings-table td{
  padding: 2px 8px;
}
.stock-table{
	display: flex;
  border: none;
	justify-content: center;
  font-size: min(4vw, 18px);
}
.stock-table td{
  padding: 2px 8px;
}
.treechart-chunk{
  transition: 0.5s;
}
.indicatorbtn{
  font-size: 14px;
  margin-top: 20px;
  background-color: #fefefe;
  border-width: 1px;
  border-style: solid;
  border-color: #f0f0f0 #e0e0e0 #a0a0a0 #e0e0e0;
  border-radius: 8px;
  padding: 4px 14px;
  margin-right: 10px;
  margin-bottom: 10px;
  user-select: none;
  box-shadow: 3px 2px 4px #a0a0a0;
  transition: background-color 0.5s;
}
.indicatorbtn:hover{
  background-color: #f0f0f0;
}
.indicator-table-nosliders{
	display: flex;
  font-size: min(2.5vw, 18px);
}
.indicator-table-nosliders table{
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
.indicator-table-nosliders td{
  padding: 30px 20px 35px 0;
}
.indicator-table-nosliders tr:nth-child(even){
  border-bottom: 1px solid #a0a0a0;
  border-top: 1px solid #a0a0a0;
  background-color: #f0f0f0;
}
.indicator-table-nosliders tr:first-child{
  font-weight: bold;
}
.info-table{
  overflow: auto;
  height: 100%;
  margin-left: 20px;
	display: flex;
  border: none;
	justify-content: center;
  align-items: center;
  font-size: min(4vw, 18px);
}
.info-table td{
  padding-bottom: 20px;
}
.dividend-table{
  overflow: auto;
  text-align: center;
  max-height: 100%;
  height: 100%;
	display: flex;
	justify-content: center;
  align-items: center;
  font-size: min(3vw, 20px);
}
.dividend-table tr:first-child{
  font-weight: bold;
}
.dividend-table td{
  padding-bottom: 10px;
}
.circle-node:hover{
  stroke-width: 5px !important;
}
footer{
  position: absolute;
  bottom: 0;
  padding: 5px 0 5px 0;
  color: white;
  background-color: #379683;
  width: 100%;
  text-align: center;
}
#stock_tabs{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.stockbtn{
  font-size: 14px;
  background-color: #fefefe;
  border-width: 1px;
  border-style: solid;
  border-color: #f0f0f0 #e0e0e0 #a0a0a0 #e0e0e0;
  border-radius: 8px;
  padding: 4px 14px;
  margin-right: 10px;
  margin-bottom: 10px;
  user-select: none;
  box-shadow: 3px 2px 4px #a0a0a0;
  transition: background-color 0.5s;
}
.stockbtn:hover{
  background-color: #f0f0f0;
}
.active-btn{
  background-color: #f0f0f0;
}
.loginbtn{
  font-size: min(4vw,20px);
  font-family: Helvetica,serif;
  padding: 10px 5px;
  color: white;
  border-radius: 25px;
  transition: 0.2s color ease-out;
}
.loginbtn:hover{
  color: #e0e0e0;
}
/* main menu sections */
#titleimg{
  background-image: url("../img/homepageimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  overflow: hidden;
  text-align: center;
  height: calc(100vh - 120px);
  font-size: min(2vw, 36px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#o_nas{
  margin: 0 5vw;
  padding-bottom: 60px;
}
#o_nas p{
  font-size: 18px;
  letter-spacing: 0.04em;
  font-family: Helvetica;
  text-align: center;
  text-indent: 5px;
}
#o_nas h1{
  letter-spacing: 0.05em;
}
#login{
  margin: 0 5vw;
  padding-bottom: 60px;
}
#login p{
  font-size: 18px;
  letter-spacing: 0.04em;
  font-family: Helvetica;
  text-align: center;
  text-indent: 5px;
}
#login a{
  text-decoration: none;
  color: blue;
  transition: 0.2s color ease-out;
}
#login a:hover{
  color: red;
}
/* main menu gallery */
.slideshow-container {
  position: relative;
}
.slideshow-container .title{
  font-size: 32px;
  font-family: Helvetica;
  text-align: center;
  letter-spacing: 0.04em;
}
.slide {
  display: flex;
  justify-content: center;
}
.slide img{
  width: 100%;
  max-width: 1000px;
  height: auto;
  box-shadow: 4px 4px 16px 4px #aeaeae;
  user-select: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: ease-out 0.5s;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  color: #223322;
}
.dots{
  padding: 20px 0;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.clicked-dot {
  background-color: #777;
}
.year-small{
  display: inline-block;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  color: #777777;
  user-select: none;
  padding-top: 10px;
}
.tooltip-text{
  font-size: min(2.5vw, 16px);
}
.legend-div{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(245,245,245,0.9);
  border-radius: 25px;
  overflow-y: auto;
  z-index: 1;
}
.legend-div table{
  width: 100%;
  font-family: Helvetica;
  letter-spacing: 0.03em;
  margin: 20px 5px 20px 0;
  padding-left: 40px;
}
.legend-div h2{
  cursor: pointer;
  transition: color 0.5s;
  padding-left: 40px;
}
.legend-div h2:hover{
  cursor: pointer;
  color: #777777;
}
.legend-div span{
  color: black;
  font-size: min(3vw, 18px);
}
.legend-button{
  font-size: min(3vw, 16px);
  background-color: #fefefe;
  border-width: 1px;
  border-style: solid;
  border-color: #f0f0f0 #e0e0e0 #a0a0a0 #e0e0e0;
  border-radius: 8px;
  padding: 4px 14px;
  margin-bottom: 8px;
  margin-right: 10px;
  user-select: none;
  box-shadow: 3px 2px 4px #a0a0a0;
  transition: background-color 0.5s;
}
.legend-button:hover{
  background-color: #f0f0f0;
}
